
:root{
  --s-maincolor: #17594A!important;
  --s-sub1color: #CECE5A!important;
  --s-sub2color:#7D7D7D!important;
  --s-sub3color: #CCCCCC!important;
  --s-backgroundcolor: white!important;
  font-family: "Helvetica", sans-serif !important;
}
 
.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height:50px ;
  width: 100%;
  margin-top: 20px;
}

h1 {
  text-align: center;
  margin: 13px 0;
}

.formContainer form {
  border: 1px solid var(--s-maincolor);
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 20px;
  padding: 30px;
  min-width:450px;
  font-weight: bold;
  background-color:#ffffff; 
  color:var(--s-maincolor);
}

.uiForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 400px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.formField {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.formField input {
  border: 1px solid grey;
  padding: 20px;
  border-radius: 4px;
}

.formField input:focus {
  outline: none;
}

.formField label {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 3px;
}

button {
  background-color: var(--s-maincolor) !important; 
  color: #ffffff !important;
  font-weight: bold !important;
  border-radius: 10px;
  padding: 10px 10px !important;
  width: 150px !important;
  height: 40px !important;
  margin:10px 10px !important;
}


.errorMsg {
  color: red;
  margin: 0;
  align-self: flex-start;
}

.msgOk {
  color: green;
  margin-top: 15px;
}